* {
  padding: 0;
  margin: 0;
	outline: none;
  border: 0;
  font-size: 1em;
}


body {
        font-family:
        'M+ C Type-2 (basic latin) Regular',
        'M+ Type-2 (general-j) Regular', sans-serif;
}

.loading, .loaded:not(.three), .three:not(.loaded), #intro, #three {
  visibility: hidden;
}

.loaded.three {
  visibility: visible;
}

#logo, #loading, #arrow {
  visibility: visible;
}

section {
  width: 100%;
}

#one {
  height: 50vh;
}

#two {
  height: 150vh;
}

#three {
  min-height: 100vh;
  transition: filter .3s ease-in;
  padding-top: 20vh;
}

#thumbnails{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#thumbnails span {
  width: 30vmin;
  height: 30vmin;
  margin: 1vmin;
  border-radius: 1.5vmin;
  opacity: 1;
  transition: box-shadow .3s, opacity .3s;
  background-repeat: no-repeat;
  background-size: 101%;
  background-position: center;
}

#thumbnails span:hover {
  box-shadow: 0 0 2vmin #877a71;
  transition: box-shadow .3s, opacity .3s;
  cursor: pointer;
  opacity: .7;
}

#thumbnails span:active {
  box-shadow: 0 0 .65vmin #877a71;
  transition: box-shadow .2s;
}

#four {
  height: 10vh;

}

.selected #three{
  filter: blur(10px);
  transition: filter .3s ease-out;
}

.selected {
  overflow: hidden;
}

#image {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(255, 245, 240,.75);
  top: 0;
  left: 0;
  z-index: 100;
}

#images img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.deselected #image {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .3s, opacity .3s;
}

.selected #image {
  opacity: 1;
  transition: opacity .3s;
  visibility: visible;
}

#close {
  width: 10vh;
  height: 10vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
}

input[type="checkbox"] {
  display: none;
}

#descri {
  width: 10vh;
  height: 10vh;
  position: fixed;
  right: 10vh;
  top: 0;
  z-index: 101;
}

#descriptionmenu path {
  transform: none;
}

@media all and (orientation: landscape) {
  .landscapemenu {
    visibility: visible;
  }

  .portraitmenu {
    visibility: hidden;
  }

  #descriptionmenu path:not(#path1).landscapemenu{
    transition: transform .3s;
  }

  #descriptionmenu #path1 {
    transition: transform 0s .15s;
    animation: description2 .3s;
  }

  .description #descriptionmenu #path1 {
    transform:  translateX(100%) translateY(100%) rotate(180deg);
    animation: description .3s;
    transition: transform 0s .15s;
  }

  .description #descriptionmenu #path2 {
    transform: translateX(23%);
  }

  .description #descriptionmenu #path3 {
    transform: translateX(35%);
  }

  .description #descriptionmenu #path4 {
    transform: translateX(23%);
  }
}

@media all and (orientation: portrait) {
  .landscapemenu {
    visibility: hidden;
  }

  .portraitmenu {
    visibility: visible;
  }

  #descriptionmenu #path12 {
    transition: transform 0s .15s;
    animation: description2 .3s;
  }

  .description #descriptionmenu #path12 {
    transform:  translateX(100%) translateY(100%) rotate(180deg);
    animation: description .3s;
    transition: transform 0s .15s;
  }

  #descriptionmenu path:not(#path12).portraitmenu {
    transition: transform .3s;
  }

  .description #descriptionmenu #path14, #descriptionmenu #path18, .description #descriptionmenu #path13, #descriptionmenu #path17 {
    transform: none;
  }

  .description #descriptionmenu #path18, #descriptionmenu #path14 {
    transform: translateX(-16.1%);
  }

  .description #descriptionmenu #path17, #descriptionmenu #path13 {
    transform: translateX(16.1%);
  }
}

@keyframes description {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes description2 {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#description {
  right: 0;
  bottom: 0;
  position: absolute;
}

@media all and (orientation: landscape) {
  #images img,
  .description #images img,
  #description,
  .description #description{
    transition: width .3s ease-in-out, top .3s ease-in-out;
  }

  #images img, #description{
    top: 10vh;
    transition-delay: .3s;
    bottom: 10vh;
  }

  .description #images img{
    width: 60%;
  }

  #description{
    height: 100%;
    width: 0%;
  }

  .description #description{
    width: 40%;
  }
}
@media all and (orientation: portrait) {
  #images img,
  .description #images img,
  #description,
  .description #description{
    transition: height .3s ease-in-out;
  }

  #images img, #description{
    transition-delay: .3s;
  }

  .description #images img{
    height: 60%;
  }

  #description {
    width: 100%;
    height: 0%;
  }

  .description #description{
    height: 40%;
  }
}

body::-webkit-scrollbar {
  display: none;
}


#first {
  position: fixed;
  visibility: visible;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: white;
}

#logo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100vw;
}


.three.first #first {
  transition: transform .3s ease-out;
  transform: translateY(0);
}

.three.second #first, .three.third #first {
  transition: transform .3s ease-in;
  transform: translateY(-100%);
}

#loading {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  stroke-width:2;
  fill:none;
  stroke:#000000;
}

.loading #loading {
  animation: intro1 1s 4s forwards;
}

.three.loaded #loading {
  animation: intro2 1s forwards, visibility 0s 1s;
  visibility: hidden;
}

#arrow {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  visibility: hidden;
}

.three.loaded.first #arrow:hover {
  cursor: pointer;
}

.three.loaded #arrow {
  animation: intro1 1s forwards;
  visibility: visible;
}

#intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  margin: auto;
}

#intro > p > iro {
  color: #fe7e15;
}

.three.first #intro, .three.second #intro {
  transition: opacity .3s .2s ease-out, transform .3s .2s ease-out;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.three.third #intro, .three.fourth #intro {
  transition: opacity .3s ease-in, transform .3s ease-in, visibility 0s .3s;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

@media all and (orientation: landscape) {
  #logo {
    height: 40vh;
  }
  #loading {
    height: 3.5vh;
    top: 50vh;
  }
  #arrow {
    height: 17.5vh;
    top: 70vh;
    width: 17.5vh;
  }
}

@media all and (orientation: portrait) {
  #logo {
    width: 90vw;
  }
  #loading {
    width: 15vw;
    top: 45vh;
  }
  #arrow {
    width: 17.5vw;
    top: 65vh;
    height: 17.5vw;
    max-height: 25vh;
  }
}

.tguiss, .furigana {
  fill: none;
  stroke: #000000;
  stroke-width: 0.3;
  transform: translateY(5%);
}

.tguiss {
  transform: translateY(5%);
}

#logo path:not(.tguiss) {
  animation: intro1 2s cubic-bezier(.20, 0, .15, 1) forwards;
}

@keyframes intro1 {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes intro2 {
  to {
    opacity: 0;
    transform: translateY(20%);
  }
}

#description h2,
#description h1,
#description p {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity .3s, transform .3s;
}

.description #description h2,
.description #description h1,
.description #description p {
  transition: opacity .3s, transform .3s;
  opacity: 1;
  transform: translateY(0);
}

.description #description h2 {
  transition-delay: .4s
}

.description #description h1 {
  transition-delay:.5s
}

.description #description p {
  transition-delay: .6s
}

.three.first #three, .three.second #three {
  transition: opacity .3s ease-in, transform .3s .2s ease-in, visibility 0s .3s;
  transform: translateY(10vh);
  opacity: 0;
  visibility: hidden;
}

 .three.third #three {
  transition: opacity .3s .2s ease-out, transform .3s ease-out;
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}

#closemenu, #descriptionmenu {
  fill:black;
  transition: fill .3s;
}

#close:hover #closemenu, #descri:hover #descriptionmenu {
  fill:#fcb619;
}
