* {
  padding: 0;
  margin: 0;
	outline: none;
  border: 0;
  font-size: 1rem;
}


body {
        font-family:
        'M+ C Type-2 (basic latin) Regular',
        'M+ Type-2 (general-j) Regular', sans-serif;
}

.loading, .loaded:not(.three), .three:not(.loaded), #second, #three {
  visibility: hidden;
}

.loaded.three {
  visibility: visible;
}

#logo, #loading, #arrow {
  visibility: visible;
}

section {
  width: 100%;
}

#one {
  height: 50vh;
}

#two {
  height: 150vh;
}

#three {
  min-height: 100vh;
  transition: filter .3s ease-in;
  padding-top: 20vh;
  display: flex;
  justify-content: center;
}

#thumbnails{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 150vmin;
}

#thumbnails span {
  width: 30vmin;
  height: 30vmin;
  margin: 1.3vmin;
  border-radius: 1.5vmin;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 101%;
  background-position: center;
}

#thumbnails span:hover {
    cursor: pointer;
}

#thumbnails span::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1.5vmin;
  transition: box-shadow .3s, background .3s;
  background: rgba(255,255,255,0);
  position: absolute;
}

#thumbnails span:hover::after {
  box-shadow: 0 0 2vmin #877a71;
  transition: box-shadow .3s, background .3s;
  background: rgba(255,255,255,.3);
}

#thumbnails span:active::after {
  box-shadow: 0 0 .65vmin #877a71;
  transition: box-shadow .2s;
}

#four {
  height: 10vh;

}

.selected #three{
  filter: blur(10px);
  transition: filter .3s ease-out;
}

.selected {
  overflow: hidden;
}

#image {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(255, 245, 240,.75);
  top: 0;
  left: 0;
  z-index: 100;
}

#images img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.deselected #image {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .3s, opacity .3s;
}

.selected #image {
  opacity: 1;
  transition: opacity .3s;
  visibility: visible;
}

#close {
  width: 10vh;
  height: 10vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
}

input[type="checkbox"] {
  display: none;
}

#descri {
  width: 10vh;
  height: 10vh;
  position: fixed;
  right: 10vh;
  top: 0;
  z-index: 101;
}

#descriptionmenu path {
  transform: none;
}

@media all and (orientation: landscape) {
  .landscapemenu {
    visibility: visible;
  }

  .portraitmenu {
    visibility: hidden;
  }

  #descriptionmenu path:not(#path1).landscapemenu{
    transition: transform .3s;
  }

  #descriptionmenu #path1 {
    transition: transform 0s .15s;
    animation: description2 .3s;
  }

  .description #descriptionmenu #path1 {
    transform:  translateX(100%) translateY(100%) rotate(180deg);
    animation: description .3s;
    transition: transform 0s .15s;
  }

  .description #descriptionmenu #path2 {
    transform: translateX(23%);
  }

  .description #descriptionmenu #path3 {
    transform: translateX(35%);
  }

  .description #descriptionmenu #path4 {
    transform: translateX(23%);
  }
}

@media all and (orientation: portrait) {
  .landscapemenu {
    visibility: hidden;
  }

  .portraitmenu {
    visibility: visible;
  }

  #descriptionmenu #path12 {
    transition: transform 0s .15s;
    animation: description2 .3s;
  }

  .description #descriptionmenu #path12 {
    transform:  translateX(100%) translateY(100%) rotate(180deg);
    animation: description .3s;
    transition: transform 0s .15s;
  }

  #descriptionmenu path:not(#path12).portraitmenu {
    transition: transform .3s;
  }

  .description #descriptionmenu #path14, #descriptionmenu #path18, .description #descriptionmenu #path13, #descriptionmenu #path17 {
    transform: none;
  }

  .description #descriptionmenu #path18, #descriptionmenu #path14 {
    transform: translateX(-16.1%);
  }

  .description #descriptionmenu #path17, #descriptionmenu #path13 {
    transform: translateX(16.1%);
  }
}

@keyframes description {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes description2 {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#description {
  right: 0;
  bottom: 0;
  position: absolute;
}

@media all and (orientation: landscape) {
  #images img,
  .description #images img,
  #description,
  .description #description{
    transition: width .3s ease-in-out, top .3s ease-in-out;
  }

  #images img, #description{
    top: 10vh;
    transition-delay: .3s;
    bottom: 10vh;
  }

  .description #images img{
    width: 60%;
  }

  #description{
    height: 100%;
    width: 0%;
  }

  .description #description{
    width: 40%;
  }
}
@media all and (orientation: portrait) {
  #images img,
  .description #images img,
  #description,
  .description #description{
    transition: height .3s ease-in-out;
  }

  #images img, #description{
    transition-delay: .3s;
  }

  .description #images img{
    height: 60%;
  }

  #description {
    width: 100%;
    height: 0%;
  }

  .description #description{
    height: 40%;
  }
}

body::-webkit-scrollbar {
  display: none;
}


#first {
  position: fixed;
  visibility: visible;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

#logo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100vw;
}

.three.first #first svg, .three.first #first {
  visibility: visible;
}

.three.second #first svg, .three.third #first svg, .three.second #first, .three.third #first {
  transition: visibility 0s .3s;
  visibility: hidden;
}

.three.first #first svg > g {
  transition: transform .6s .3s cubic-bezier(.26,1.33,.58,1);
  transform: translateY(0);
}

.three.second #first svg > g, .three.third #first svg > g {
  transition: transform .3s ease;
  transform: translateY(100%);
}

.three.first #first #arrow path {
  transition: opacity .3s .3s;
  opacity: 1;
}

.three.second #first #arrow path, .three.third #first #arrow path {
  transition: opacity .3s;
  opacity: 0;
}

#loading {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  stroke-width:2;
  fill:none;
  stroke:#000000;
}

.loading #loading {
  animation: intro1 1s 4s forwards;
}

.three.loaded #loading {
  animation: intro2 1s forwards, visibility 0s 1s;
  visibility: hidden;
}

#arrow {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  visibility: hidden;
}

.three.loaded.first #arrow:hover {
  cursor: pointer;
}

.three.loaded #arrow {
  animation: intro1 1s forwards;
  visibility: visible;
}

#second {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
}

#intro {
  top: 0;
  left: 0;
  position: fixed;
}

#intro > p > iro {
  color: #fe7e15;
}

#kyodo {
  position: fixed;
  background: url('images/kyodo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.three.second #second {
  visibility: visible;
}

.three.first #second, .three.third #second {
  transition: visibility 0s .3s;
  visibility: hidden;
}

.three.second #intro p,
.three.second #intro h2,
.three.second #intro h3 {
  transition: opacity .3s .3s, transform .5s .3s cubic-bezier(.26,1.33,.58,1);
  transform: translateY(0);
  opacity: 1;
}

.three.first #intro p, .three.third #intro p,
.three.first #intro h2, .three.third #intro h2,
.three.first #intro h3, .three.third #intro h3 {
  transition: opacity .3s, transform .3s;
  transform: translateY(2em);
  opacity: 0;
}

.three.second #intro p {
  transition-delay: .4s;
}

.three.second #kyodo {
  transition: opacity .8s .7s, transform 1s .5s cubic-bezier(.41,1.55,.66,.94);
  opacity: 1;
  transform: translateY(0);
}

.three.first #kyodo, .three.third #kyodo {
  transition: opacity .3s, transform .3s;
  opacity: 0;
  transform: translateY(20%);
}


@media all and (orientation: landscape) {
  #intro, #kyodo {
    width: 42.5%;
    height: 60%;
    top: 20vh;
  }
  #intro {
    left: 5vw;
  }
  #kyodo {
    right: 5vw;
  }
  #logo {
    height: 40vh;
  }
  #loading {
    height: 3.5vh;
    top: 50vh;
  }
  #arrow {
    height: 17.5vh;
    top: 70vh;
    width: 17.5vh;
  }


}

@media all and (orientation: portrait) {
  #intro, #kyodo {
    width: 85%;
    height: 35vh;
    left: 7.5vw
  }
  #kyodo {
    bottom: 10vh;
  }
  #intro {
    top: 10vh;
  }
  #logo {
    width: 90vw;
  }
  #loading {
    width: 15vw;
    top: 45vh;
  }
  #arrow {
    width: 17.5vw;
    top: 65vh;
    height: 17.5vw;
    max-height: 25vh;
  }


}

.tguiss, .furigana {
  fill: none;
  stroke: #000000;
  stroke-width: 0.3;
  transform: translateY(5%);
}

.tguiss {
  transform: translateY(5%);
}

#logo path:not(.tguiss) {
  opacity: 0;
  animation: intro1 1.5s .1s cubic-bezier(.26,1.33,.58,1) forwards;
}

@keyframes intro1 {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes intro2 {
  to {
    opacity: 0;
    transform: translateY(20%);
  }
}

#description h2,
#description h1,
#description p {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity .3s, transform .3s;
}

.description #description h2,
.description #description h1,
.description #description p {
  transition: opacity .3s, transform .3s;
  opacity: 1;
  transform: translateY(0);
}

.description #description h2 {
  transition-delay: .4s
}

.description #description h1 {
  transition-delay:.5s
}

.description #description p {
  transition-delay: .6s
}


#closemenu, #descriptionmenu, #arrow {
  fill:black;
  transition: fill .3s;
}

#close:hover #closemenu, #descri:hover #descriptionmenu, #arrow:hover {
  fill:#fcb619;
}

.three.first #three span, .three.second #three span {
  transition: filter .3s ease-in, transform .3s ease-in, visibility 0s .3s;
  transform: translateY(10vh);
  filter: opacity(0);
  visibility: hidden;
}

.three.third #three span {
  transition: filter .3s .3s ease-out, transform .3s .3s ease-out;
  transform: translateY(0%);
  filter: opacity(1);
  visibility: visible;
}

  .three.third #three #thumbnails.quad span.quadone {
    transition-delay: .45s;
  }
  .three.third #three #thumbnails.quad span.quadtwo {
    transition-delay: .6s;
  }
  .three.third #three #thumbnails.quad span.quadthree {
    transition-delay: .75s;
  }
  .three.third #three #thumbnails.quad span.quadfour {
    transition-delay: .9s;
  }
  .three.third #three #thumbnails.quad span.quadfive {
    transition-delay: 1.05s;
  }
  .three.third #three #thumbnails.quad span.quadsix {
    transition-delay: 1.2s;
  }
  .three.third #three #thumbnails.quad span.quadseven {
    transition-delay: 1.35s;
  }
  .three.third #three #thumbnails.quad span.quadeight {
    transition-delay: 1.5s;
  }


  .three.third #three #thumbnails.triple span.tripleone {
    transition-delay: .45s;
  }
  .three.third #three #thumbnails.triple span.tripletwo {
    transition-delay: .6s;
  }
  .three.third #three #thumbnails.triple span.triplethree {
    transition-delay: .75s;
  }
  .three.third #three #thumbnails.triple span.triplefour {
    transition-delay: .9s;
  }
  .three.third #three #thumbnails.triple span.triplefive {
    transition-delay: 1.05s;
  }
  .three.third #three #thumbnails.triple span.triplesix {
    transition-delay: 1.2s;
  }
  .three.third #three #thumbnails.triple span.tripleseven {
    transition-delay: 1.35s;
  }
  .three.third #three #thumbnails.triple span.tripleeight {
    transition-delay: 1.5s;
  }
  .three.third #three #thumbnails.triple span.triplenine {
    transition-delay: 1.65s;
  }
  .three.third #three #thumbnails.triple span.tripleten {
    transition-delay: 1.8s;
  }
  .three.third #three #thumbnails.triple span.tripleeleven {
    transition-delay: 1.95s;
  }
